# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
.env
.venv
env/
venv2/

# Weights & Biases
wandb/

# Saved models
src/models/*

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Testing
.coverage
htmlcov/
.pytest_cache/

# Logs
*.log

# Local environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Other common files to ignore
.cache/